.banner{
    background-image: url('../../images/banner.png');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.services{
    background-image: url('../../images/background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}